.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.5rem 0;

  &::before,
  &::after {
    display: block;
    content: '';
    height: 1px;
    background-color: black;
    width: 45%;
    position: absolute;
    opacity: 0.3;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  img {
    height: 1.0625rem;
    width: auto;
  }

  &_fading {
    &::before {
      background: linear-gradient(
        to left,
        black 0,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &::after {
      background: linear-gradient(
        to right,
        black 0,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}
