.pill-btn {
  height: 3.75rem;
  border-radius: 1.875rem;
  padding: 0.375rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;

  cursor: pointer;

  img {
    border-radius: 50%;
    height: calc(100% - 0.75rem);
    width: auto;
    position: absolute;
    left: 0.375rem;

    &.sm {
      height: calc(100% - 1.5rem);
      margin-left: 0.75rem;
      border-radius: 0;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: black;
    text-decoration: none;
  }

  &__edit,
  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 0.75rem);
    width: 1rem;

    position: absolute;
    color: black;
  }

  &__edit {
    right: 1rem;
  }

  &__remove {
    right: 2.5rem;
  }

  &_disabled {
    opacity: 0.5;
    cursor: not-allowed;
    * {
      cursor: not-allowed;
    }
  }
}
