.panel {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 2;
  width: 100vw;
  max-width: 0;
  transition: 0.3s;

  &.opened {
    padding: 1rem;
    max-width: 25rem;
  }

  &__actions {
    min-width: 23rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 1rem;

    div {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #0d6efd;
  color: white;
  border-radius: 50%;
  position: absolute;
  right: -4rem;
  top: 1rem;
  cursor: pointer;

  span {
    color: #dc3545;
    position: absolute;
    height: 1rem;
    top: 0;
    right: 0.2rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
